body {
  margin: 0px 310px 0px 310px;
}

.nav-icons {
  display: inline-block;
  float: right;
  padding: 2px;
  margin-top: 10px;
}

#two-icons {
  margin-left: 10px;
}

#logo-img {
  float: left;
  margin-right: 7px;
  width: 55px;
  height: 55px;
}

#logo-text-section {
  float: left;
  display: block;
}

#logo-header {
  margin: -8px 0px 0px 0px;
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
}

#logo-p-tag {
  display: inline;
  font-family: 'Pangolin', cursive;
  color: silver;
  font-size: 12px;
  margin: 0px;
}

#divider {
  height: 10px;
  margin: 25px 0px 75px 0px;
}

.bar {
  background: repeating-linear-gradient(
  45deg,
  white,
  white 5px,
  grey 7px
);
  margin: 20px 0px 20px 0px;
  height: 15px;
}

#pic-header-section {
  margin: 50px 0px 0px 0px;
}

#pic-heading {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  margin: 0px;
}

#date-posted {
  display: inline;
  font-family: 'Pangolin', cursive;
  font-size: 15px;
  color: silver;
  margin: 0px;
}

#print-icon {
  float:right;
  height: 13px;
}

#print {
  float: right;
  display: inline;
  font-family: 'Pangolin', cursive;
  font-size: 12px;
  color: silver;
  margin: 0px;
}

#chocolate-pizza-img {
  margin: 25px 0px 18px 0px;
  width: 100%
}

.recipe-paragraphs {
  text-indent: 25px;
  font-size: 18px;
  color: grey;
}

#recipe-content {
  background-image: url(https://github.com/codefellows/seattle-201n8/blob/master/class-10-js_debugging-wireframe_part_2/lab-assets/list-bg.png?raw=true);
  font-family: 'Coming Soon', cursive;
  font-size: 20px;
  box-shadow: 0px 10px 10px grey;
  margin: 25px 0px 55px 0px;
  padding: 40px 50px 40px 50px;
}

#recipe-boxes-right {
  float: right;
  display: inline-block;
}

#recipe-boxes-left {
  display: inline-block;
}

#author-section {
  margin: 15px 0px 25px 0px;
}

#share-button {
  float: right;
  display: inline;
  border-radius: 1px;
  text-decoration: none;
  font-family: 'Pangolin', cursive;
  color: white;
  background-color: #B60000;
  margin-bottom: 40px;
  padding: 15px 30px 15px 30px;
}

#author-pic {
  float: left;
  margin-right: 15px;
}

#author-header {
  margin: 0px;
}

#author-paragraph {
  display: inline;
  font-size: 17px;
  color: grey;
  margin: 0px;
}

#small-logo-div {
  text-align: center;
  margin: 100px 0px 0px 0px;
}

.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: silver;
}

footer {
  margin: 20px 0px 30px 0px;
}

#footer-content {
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  color: silver;
  padding: 0px;
}
