body {
  padding-left: 200px;
  padding-right: 200px;
}

img {
  display: inline-block;
  float: right;
  padding: 2px;
}

nav {
  border: 1px solid black;
}

#logo-header {
  margin: 0px;
}

#logo-p-tag {
  margin: 0px;
}

#logo-img {
  float: left;
}
